[Unit]
Description={{ retoots_service_name }}
After=network-online.target

[Service]
ExecStart={{ retoots_folder }}/retoots \
             {% for allowed_origin in retoots_allowed_origins %}
             --allowed-origins {{ allowed_origin }} \
             {% endfor %}{% for allowed_root_account in retoots_allowed_root_accounts %}
             --allowed-root-accounts {{ allowed_root_account }} \
             {% endfor %}
             --addr {{ retoots_addr }}

[Install]
WantedBy=multi-user.target